:root {
  background-color: lightgrey;
}

body {
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
}

h1 {
  text-decoration: underline;
  padding-left: 30px;
}

h2 {
  padding-left: 50px;
}

nav li {
  text-align: right;
  list-style-type: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

section {
  padding-left: 80px;
}
