:root {
  background-color: lightgrey;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: inline-block;
}

h1 {
  text-decoration: underline;
  padding-left: 30px;
}

h2 {
  padding-left: 50px;
}

section {
  padding-left: 80px;
}
