header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: flex-end;
  position: relative;
  border-radius: 20px;
}

header::before {
  content: "";
  background-image: url("../assets/code-3637299_960_720.jpeg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

h1 {
  text-decoration: underline;
  padding-left: 15px;
  position: relative;
}

ul {
  padding-bottom: 10px;
  padding-right: 15px;
  position: relative;
}

.button {
  background-color: rgb(207, 48, 48);
  font-size: 20px;
  border-radius: 100px;
  /* border: none; */
}

.button:hover {
  background-color: teal;
  border: black 2px solid;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}
